@using SnQTranslator.AspMvc.Modules.Handler
@model SnQTranslator.AspMvc.Models.Persistence.App.Translation

@{
    ViewData["Title"] = "Delete";
}

<h1>Translation</h1>
<h4>Delete</h4>

@if (string.IsNullOrEmpty(ErrorHandler.LastError) == false)
{
    <div class="alert alert-danger" role="alert">
        @ErrorHandler.GetLastErrorAndClear()
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Should the entry be deleted?
    </div>
}

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeyLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeyLanguage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValueLanguage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValueLanguage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to list...</a>
    </form>
</div>
