@using SnQTranslator.AspMvc.Modules.Handler
@using SnQTranslator.AspMvc.Models.Modules.View
@model SnQTranslator.AspMvc.Models.Persistence.App.Translation

@{
    ViewData["Title"] = "Edit";
}

<h1>Translation</h1>
<h4>Edit</h4>

@if (string.IsNullOrEmpty(ErrorHandler.LastViewError) == false)
{
    <div class="alert alert-danger" role="alert">
        @ErrorHandler.GetLastViewErrorAndClear()
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.RowVersion)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppName" class="control-label"></label>
                <input asp-for="AppName" class="form-control" />
                <span asp-validation-for="AppName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyLanguage" class="control-label">KeyLanguage</label>
                <br />
                @Html.DropDownListFor(m => m.KeyLanguage, new SelectList(Enum.GetValues(typeof(SnQTranslator.Contracts.Modules.Common.LanguageCode))), null, new { @class = "form-control", style = "width: 200px;" })
            </div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueLanguage" class="control-label">ValueLanguage</label>
                <br />
                @Html.DropDownListFor(m => m.ValueLanguage, new SelectList(Enum.GetValues(typeof(SnQTranslator.Contracts.Modules.Common.LanguageCode))), null, new { @class = "form-control", style = "width: 200px;" })
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_SubmitBack", new SubmitBackCmd() { BackController = "Translations" })
        </form>
    </div>
</div>


